# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/
env/
.env
*.pyo

# Django
backend/staticfiles/
backend/media/
backend/db.sqlite3

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# macOS
.DS_Store
*.swp
*.swo

# IDE
.idea/
.vscode/
*.code-workspace

# Logs
*.log
celerybeat-schedule
celerybeat.pid
